name: Generate Sitemap and Deploy

on:
  push:
    branches:
      - main

# Prevent simultaneous deployments from conflicting
concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  contents: write
  pages: write #
  id-token: write #

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate the sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://doorstepsupport.com/
          path-to-root: .
          exclude-files: assets/ 404.html
          additional-path-prefixes: blog/ services/

      - name: Commit and push sitemap
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add sitemap.xml
          git commit -m "Automated sitemap update" || exit 0
          git push

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "." # Uploads your root directory

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # This is Step 8 where it previously failed
